node_modules
/vendor/
/public/hot
/storage/*.key
/storage/logs/laravel.log
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
/.vscode
# package-lock.json
yarn.lock
.phpunit.result.cache
storage/logs/laravel.log



